
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 504.2rem;
}.heading-3pa {
  width: 100%;
  height: 28rem;
  border-radius: 5000rem;

  .frame-87-aJi {
    padding: 5rem 100.8rem 7.9rem 17.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: solid 0.2rem #ffffff;
    border-radius: 5000rem;
    box-sizing: border-box;

    .freebie-GhL {
      line-height: 1.2575;
      color: #f9b800;
      font-family: Segoe UI, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 6.3rem 0rem 0rem;
      font-size: 9rem;
      font-weight: 700;
    }
    .item--NEa {
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.9rem;
      font-size: 12rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Segoe UI, 'Source Sans Pro';
    }
    .interactive-component-website-mobile-responsive-design-2-tii {
      font-size: 9rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Segoe UI, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.3rem 27.4rem 0rem 0rem;
    }
    .item--mnW {
      font-family: Segoe UI, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 5.9rem;
      font-size: 12rem;
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
    }
    .click-to-play-udp {
      font-weight: 700;
      line-height: 1.2575;
      color: #ffffff;
      font-family: Segoe UI, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.3rem;
      font-size: 9rem;
    }
  }
}
