@import url("https://fonts.google.com/share?selection.family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
@import url("https://fonts.google.com/icons?selected=Material%20Symbols%20Outlined%3Adone%3AFILL%400%3Bwght%40400%3BGRAD%400%3Bopsz%4048");
:root {
  --orang-color-dark: #fb9c46;
  --orange-light-color: #f1c365;
  --orange-lighter-color: #f0d9ca;
  --green-color: #407f55;
  --gren-color-light: #058e6e;
  --gray-color: #c4c4c4;
  --white-color: #fff;

  --beige-lighter-color: #fffaeb;
  --beige-color: #feedbc;
  --beige-light-color: #fff6da;
  --dark-color: #262626;
  --orange-color: #f9b800;
  --yellow-color: #f9b800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg") !important;

  color: var(--dark-color);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
img {
  max-width: 100%;
}
.wrapper {
  max-width: 1122px;
  margin: auto;
}
main {
  background-color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--gray-color) solid 1px;
  margin-bottom: 20px;
  width: 100%;
  margin: auto;
}

.logo {
  width: 127px;
}
.frame {
  align-self: center;
  width: 67px;
  right: 0px;
  top: 19.5px;
}

nav {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  gap: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  flex: 0 0 auto;
}

nav ul li a {
  color: var(--dark-color);
  text-decoration: none;
  line-height: 24px;
  padding: 10px;
}
nav ul li a:hover,
nav ul li a.active {
  color: var(--orang-color-dark);
  text-decoration: underline;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  flex-direction: row;
  background-color: var(--yellow-color);
  color: var(--dark-color);
  border-radius: 5000px;
  text-decoration: none;
  text-align: center;

  margin-top: 30px;
  padding: 0 20px;

  gap: 70px;
  width: 350px;
  height: 78px;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.btn a span {
  margin: 0px;
  width: 80%;
}
.arrow {
  font-size: 40px !important;
  margin-right: 5%;
  margin-left: 0 !important;
}
.btn a {
  width: 100%;
}
.btn:hover .rotating-arrow {
  animation: swingAnimation90 0.5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

.btn:hover {
  box-shadow: 10px 10px;
  border: 3px solid;
}

.bk-black .btn:hover {
  box-shadow: 10px 10px var(--yellow-color);
  border: 3px var(--yellow-color) solid;
}
.rotating-arrow {
  background-color: transparent !important;
  display: inline;
  transform: rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  animation: swingAnimation 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  height: 40px;
  width: 40px;
}

@keyframes swingAnimation {
  0% {
    transform: rotate(90deg);
  }
  5% {
    transform: rotate(72deg);
  }
  10% {
    transform: rotate(54deg);
  }
  15% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(18deg);
  }
  25% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(10deg);
  }
  85% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes swingAnimation90 {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(18deg);
  }
  10% {
    transform: rotate(36deg);
  }
  15% {
    transform: rotate(54deg);
  }
  20% {
    transform: rotate(72deg);
  }
  25% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(105deg);
  }
  55% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(80deg);
  }
  85% {
    transform: rotate(95deg);
  }
  100% {
    transform: rotate(90deg);
  }
}


.br-large {
  border-radius: 5000px;
}
.orange-color {
  color: var(--orange-color);
}

.green-color {
  color: var(--gren-color-light);
}

#banner {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  text-align: center;
  padding-top: 148px;
  margin: 0 auto 5% auto;
  width: 80%;
}

#banner .banner-content {
  flex: 1 0 auto; 
  max-width: 500px;
}

#banner .banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  width: 100%;
}

#banner .banner-content h4 {
  font-size: 30px;
  margin-bottom: 14px;
}

#banner .banner-content p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #6c6c6c;
}

.banner-check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; 
  flex: 1 0 auto;
  position: relative;
}

.banner-check div {
  display: flex;
  margin: 5px;
  flex-direction: row;
  align-items: center;
  background-color: var(--white-color);
  justify-content: center;
  border-radius: 5000px;
  padding: 14px 40px 14px 20px;
  position: relative;
  gap: 7px;
  width: fit-content;
  height: 58px;
}

#banner .banner-check div h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  background-color: var(--white-color);
}

.banner-check div::before {
  position: relative;
  font-family: "Material Symbols Outlined";
  content: "\e86c";
  border: var(--yellow-color);
  background-color: var(--white-color);
  font-size: 24.96px;
  border-radius: 50px;
  color: var(--yellow-color);
}

#banner .banner-btn {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  flex: 1 0 auto;
  margin-top: 60px;
  position: relative;
  width: 350px;
  height: 70px;
}

#r1 {
  display: flex;
  flex-direction: column;
}
.itembox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 270px;
  width: 220px;
  margin-right: 20px;
  border-radius: 60px;
  padding: 20px;
  overflow: hidden;
  background: transparent;
  transition: 0.4s;
  color: black;
}

.itembox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#262626, #262626) no-repeat;
  background-size: 100% 0%;
  background-position: 0% 100%;
  border-radius: inherit;
  transition: 0.4s;
  z-index: 1;
}

.itembox:hover {
  color: white;
  cursor: pointer;
}

.itembox:hover::before {
  transform: translateY(0);
  background-size: 100% 100%;
  animation: slide-bounce 0.5s ease-in-out;
  transition: 0.3s;
}

.itembox * {
  position: relative;
  z-index: 2;
}

.itembox div {
  border-radius: inherit;
  width: fit-content;
  height: fit-content;
  margin-top: 0;
}
p {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  border-radius: inherit;
  margin: 0;
}

div {
  background-color: transparent;
}

.type1 {
  background-color: var(--white-color);
}
.type2 {
  background-color: var(--yellow-color);
}

.fstyle1 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}

.fstyle2 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.fstyle3 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.fstyle4 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;
}

.fstyle5 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 67px;
}

.fstyle6 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
}

.fstyle7 {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 40px;
}

.container {
  display: flex;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  background-color: transparent;
  border-radius: inherit;
}

.container2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: inherit;
  margin-left: 5%;
}

.container3 {
  width: 500px;
  height: fit-content;
  padding: 0 20px;
  margin: 0 10px;
  display: flex;
  background-color: transparent;
  justify-content: center;
  flex-direction: column;
  border-radius: inherit;
}

.container2 div {
  background-color: inherit;
}

.container3 div {
  background-color: inherit;
  text-align: left;
  width: fit-content;
}
.icon-img {
  background-color: inherit;
  object-fit: contain;
  margin: 15px 15px 15px 0;
  width: 40px;
  height: 40px;
}

.fyellow-color {
  color: var(--yellow-color);
}
.fwhite-color {
  color: var(--white-color);
}

span {
  background-color: transparent;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 25px 40px;
  width: 100%;
  height: 500px;
  margin: auto auto 100px auto;
  border-radius: 100px;
}

.bk-black {
  background-color: var(--dark-color);
}
.bk-white {
  background-color: var(--white-color);
}
.bk-beige {
  background-color: var(--beige-color) !important;
}
.bk-div {
  width: 90%;
}

.bk-yellow {
  background-color: var(--yellow-color);
}

.fc-white {
  color: var(--white-color);
}

.autoh {
  height: auto !important;
}

#box .banner-check {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.box.bk-white {
  justify-content: space-between;
  height: fit-content !important;
}

.bk-img {
  background-color: inherit;
  object-fit: cover;
  width: 100%;
  height: auto;
}
.justify-center {
  justify-content: center;
}

#whitebox .banner-check div,
#whitebox .banner-check div::before {
  background-color: var(--beige-color);
}

#plus-minus-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: inherit;
  margin: auto;
}

#plus-minus-box .box {
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

#ajussibox {
  overflow: hidden;
  padding: 0% 0%;
}

.ajussi-back {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
}

.ajussi-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/ajussibg.jpg");
  background-size: cover;
  background-position: center;
  transform: translateY(100%);
  transition: transform 0.2s;
  z-index: 1;
  border-radius: inherit;
}

#ajussibox:hover .ajussi-back::before {
  transform: translateY(0);
  animation: slide-bounce 0.5s ease-in-out;
}

@keyframes slide-bounce {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#ajussibox div,
#ajussibox img {
  position: relative;
  z-index: 2;
}

#ajussibox img {
  width: 300px;
  height: 300px;
  border-radius: 200px;
  margin: 0 20px;
}

#ajussibox:hover h3,
#ajussibox:hover p {
  color: var(--white-color);
}

#ajussibox:hover h4 {
  color: var(--yellow-color);
}

#ajussi-ex {
  width: 500px;
}

footer.box {
  margin-top: 200px;
  display: flex;
  padding: 0 5%;
  width: 100%;
  height: 200px;
  flex-direction: column;
  border-radius: 60px;
  align-items: center;
}
footer .container {
  background-color: transparent;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  border-radius: 0;
  justify-content: space-between;
  padding: 20px 60px;
}

#footertop {
  border-bottom: var(--gray-color) solid 1px;
  padding: 10px;
}

#yellowbox .container3 {
  padding: 30px 50px;
}
#yellowbox.box {
  justify-content: space-between;
}

#blackboxlist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#purpose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#purpose .purpose-image {
  width: 100%;
  max-width: 500px;
}

#purpose .purpose-content {
  width: 100%;
  max-width: 500px;
}
#purpose .purpose-content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  width: 100%;
}
#purpose .purpose-content p {
  line-height: 1.5;
  margin-bottom: 20px;
  color: #6c6c6c;
}
#purpose .purpose-content .p-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#purpose .purpose-content .p-list div {
  background-color: var(--white-color);
  box-shadow: 0px -2px 128px rgba(5, 142, 110, 0.14);
  border-radius: 16px;
  padding: 12px 12px 12px 80px;
  position: relative;
}

@media (max-width: 1122px) {
  .box {
    height: auto !important;
    flex-direction: column;
    align-items: center !important;
    padding: 10px;
    border-radius: 50px;
  }
  .container {
    width: 100% !important;
    justify-content: center;
  }
  .container3 {
    margin: 0;
    padding: 20px !important;
  }
  .btn {
    margin: 0;
  }
  .bk-white {
    justify-content: center;
    align-items: center;
  }
  .itembox {
    width: 100%;
    height: 400px;
    margin: 10px !important;
  }
}

.typing-effect {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--dark-color);
  animation: typing 4s steps(20) forwards infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.woman {
  position: relative;
  text-align: center;
}
.moving {
  position: relative;
  top: 0px;
  left: 0px;
  display: none;
}
.woman:hover .moving {
  display: block;
}
.woman:hover .notmoving {
  display: none;
}
